body {
	margin: 0;
	padding: 0;
	background-color: #0051a8;
}

.logo {
	background-image: url(../public/Copper-Home-Lifestyle-Logo.png);
	background-size: cover;
	background-position: center;
	padding: 50px;
	width: 39px;
}

.menu {
	display: flex;
	justify-content: space-between;
	background-color: #bb7944;
}

nav {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	align-items: center;
}

li {
	margin-right: 20px;
	color: white;
}

h1 {
	font-size: 60px;
}

.title {
	background-image: url(../public/spacejoy-XpbtQfr9Skg-unsplash.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	padding: 80px 0px;
	color: white;
}

.title__background {
	background-color: rgba(0, 81, 168, 0.5);
	border-radius: 100px;
}

.content {
	display: flex;
	justify-content: space-around;
	gap: 20px;
	width: 90%;
	margin: 100px auto;
	color: white;
}

.content__item {
	border-radius: 10px;
	padding: 10px;
	background-image: url(../public/elements.jpg);
	background-position: center;
}

li:hover {
	border-bottom: 5px solid #0051a8;
	cursor: pointer;
}

button:hover {
	background-color: #0051a8;
	color: white;
	cursor: pointer;
}
.content__item:hover {
	background: #bb7944;
	color: white;
	cursor: pointer;
}

footer {
	text-align: center;
	background-color: #bb7944;
	padding: 10px 0px;
	color: white;
}
